.poR {
  position: relative;
}

.staff img {
  width: 10px;
}

.t-center {
  text-align: center;
}

.f_whiet {
  color: #ecf9fc;
}

.t_center {
  text-align: center;
}

table {
  width: 100%;
  line-height: 1.4;
}
table thead tr {
  background-color: rgba(73, 196, 229, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
table thead tr th,
table thead tr .th {
  padding: 6px 10px;
}
table tbody tr td,
table tbody tr .td {
  padding: 10px;
  border-bottom: solid 0.3px #aeaeae;
}
table tbody tr:last-child td,
table tbody tr:last-child .td {
  border-bottom: solid 1px #49c4e5;
}
table.height_fixed td {
  min-height: 40px;
}
table .number {
  padding-top: 18px;
}

input,
select,
textarea {
  width: 100%;
  padding: 7px 10px;
  border: solid 0.5px #959596;
  display: inline-block;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #b7b9cc;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #b7b9cc;
}
input[type=checkbox], input[type=radio],
select[type=checkbox],
select[type=radio],
textarea[type=checkbox],
textarea[type=radio] {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-bottom: 4px;
}
input[type=checkbox]:checked, input[type=radio]:checked,
select[type=checkbox]:checked,
select[type=radio]:checked,
textarea[type=checkbox]:checked,
textarea[type=radio]:checked {
  background-color: #49c4e5;
  border: solid 0.5px #49c4e5;
  background-image: url(../img/ico-check.png);
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
}
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  border: solid 0.5px #49c4e5;
}

.dataTable tr.active {
  background-color: #f6f6f6;
}

select {
  background-position: right 10px center;
  background-image: url(../img/ico-arrow-02.png);
  background-size: 10px;
  background-repeat: no-repeat;
}
select:disabled {
  opacity: 1;
  background-color: #fafafa;
  color: #555;
}

.index .card {
  background-color: #ecf9fc;
  border: none;
}

.dash-between {
  position: relative;
}
.dash-between::after {
  content: "-";
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
}

.price::before {
  content: "NT$ ";
}

.fa {
  top: 15px;
  right: 30px;
}

.msg_item {
  cursor: pointer;
}
.msg_item.active {
  background-color: #eaecf4;
}
.msg_item .latest_msg {
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.msg_detail {
  width: 100%;
}
.msg_detail .dialog_area {
  max-height: 320px;
  overflow-y: scroll;
}
.msg_detail .texting_area {
  background-color: #fff;
}
.msg_detail .texting_area textarea {
  border: none;
  padding: 0;
  resize: none;
}
.msg_detail .texting_area button {
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.no-border tr td {
  border-bottom: none !important;
}

.notify {
  background-color: #49c4e5;
  color: #fff !important;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  width: 20px;
  font-size: 12px !important;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.lb {
  position: fixed;
  background-color: rgba(102, 102, 102, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
.lb.open {
  opacity: 1;
  z-index: 200;
}
.lb .lb_content {
  border-radius: 22px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px 20px;
}
@media screen and (max-width: 767px) {
  .lb .lb_content {
    padding: 20px 15px 10px;
  }
}
.lb .lb_content h4 {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px #47c3e4;
}
@media screen and (max-width: 767px) {
  .lb .lb_content h4 {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}
.lb .lb_content .d_flex {
  justify-content: space-between;
}
.lb .lb_content .d_flex .W50 {
  width: calc(50% - 3px);
}
@media screen and (max-width: 767px) {
  .lb .lb_content .d_flex .W50 {
    width: calc(50% - 5px);
  }
  .lb .lb_content .d_flex .W50:not(button) {
    width: 100%;
  }
}
.lb .lb_content textarea {
  resize: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lb .lb_content .online_service {
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
  box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.35);
  width: 295px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 300;
}
.lb .lb_content .online_service .bg_blue {
  background-color: #47c3e4;
  padding: 20px;
  line-height: 1.5;
  text-align: center;
}
.lb .lb_content .online_service .bg_blue .close {
  transform: scale(0.65);
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -ms-transform: scale(0.65);
  -o-transform: scale(0.65);
  transform-origin: right top;
}
.lb .lb_content .online_service .bg_blue .close span {
  background-color: #fff;
}
.lb .lb_content .online_service .conversation {
  background-color: #fff;
  padding: 15px 12px;
  display: inline-block;
  width: 100%;
  height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  vertical-align: bottom;
}
.lb .lb_content .online_service .conversation > div {
  margin-bottom: 17px;
  display: inline-block;
  line-height: 1.4;
  width: 100%;
}
.lb .lb_content .online_service .conversation > div .bg {
  position: relative;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: calc(100% - 75px);
}
.lb .lb_content .online_service .conversation > div.service .bg {
  background-color: #b0e5f4;
  float: right;
}
.lb .lb_content .online_service .conversation > div.service span {
  left: -5px;
  bottom: 0;
  transform: translate(-100%, 0) scale(0.7);
  -webkit-transform: translate(-100%, 0) scale(0.7);
  -moz-transform: translate(-100%, 0) scale(0.7);
  -ms-transform: translate(-100%, 0) scale(0.7);
  -o-transform: translate(-100%, 0) scale(0.7);
  transform-origin: right center;
}
.lb .lb_content .online_service .conversation > div.user .bg {
  background-color: #eceded;
}
.lb .lb_content .online_service .conversation > div.user span {
  right: -5px;
  bottom: 0;
  transform: translate(100%, 0) scale(0.7);
  -webkit-transform: translate(100%, 0) scale(0.7);
  -moz-transform: translate(100%, 0) scale(0.7);
  -ms-transform: translate(100%, 0) scale(0.7);
  -o-transform: translate(100%, 0) scale(0.7);
  transform-origin: left center;
}
.lb .lb_content .online_service .conversation > div p {
  color: #000;
  font-size: 14px;
  margin-bottom: 5px;
}
.lb .lb_content .online_service .conversation > div span {
  color: #999;
  position: absolute;
  max-width: 190px;
  font-size: 11px;
}
.lb .lb_content .online_service .text_area {
  border-top: solid 0.3px #959596;
  background-color: #fff;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
}
.lb .lb_content .online_service .text_area .upload,
.lb .lb_content .online_service .text_area .send {
  width: 18px;
}
.lb .lb_content .online_service .text_area .upload img,
.lb .lb_content .online_service .text_area .send img {
  cursor: pointer;
}
.lb .lb_content .online_service .text_area textarea {
  width: calc(100% - 50px);
  background-color: #fff;
  color: #000;
  resize: none;
  border-color: #eceded;
  margin-bottom: 0;
  border-radius: 15px;
  padding: 5px 16px;
  font-size: 14px;
}
.lb .lb_content .online_service .text_area textarea.blank {
  background-color: #eceded;
  color: #737373;
}
.lb.service_lb .online_service {
  width: calc(100% - 40px);
  max-width: 630px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}
.lb.service_lb .online_service > p {
  padding: 15px 20px;
  border-bottom: 1px solid #acacad;
}
.lb.service_lb .online_service #online_textarea {
  width: calc(100% - 30px);
}
.lb .close {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.lb .close .hamburger {
  width: 25px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  background: #959595;
}
.lb .close .hamburger.hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.lb .close .hamburger.hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.lb .close .hamburger.hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

h1 img {
  height: 30px;
  display: block;
  float: left;
  margin-right: 8px;
}

.title-section img {
  display: block;
  width: 22px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}

.title-form {
  border-bottom: 3px solid #49c4e5;
  padding-left: 0;
}
.title-form span {
  display: inline-block;
  background: #49c4e5;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.btn-primary-icon::after {
  display: none;
}
.btn-primary-icon img {
  width: 18px;
  display: block;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

.btn-primary-text::after {
  display: none;
}

.btn-table {
  display: inline-block;
  font-weight: 400;
  background: #fff;
  color: #5a5c69;
  border: 0.5px solid #b7b9cc;
  border-radius: 5px;
  cursor: pointer;
}
.btn-table:hover {
  color: #5a5c69;
  text-decoration: none;
}

.btn-upload-pic {
  background: #fff;
  color: #5a5c69;
  border: 0.5px solid #959596;
  border-radius: 5px;
}

.btn-primary-border {
  background: #fff;
  border: 1px solid #49c4e5;
  color: #49c4e5;
}
.btn-primary-border::after {
  background-image: url(../../../img/arrow-b-r.png);
  content: "";
  display: inline-block;
  padding-left: 10px;
  width: 20px;
  height: 24px;
  background-position: center top 4px;
  background-repeat: no-repeat;
  background-size: 8px;
  vertical-align: top;
}
.btn-primary-border.btn-back::before {
  background-image: url(../../../img/arrow-b-l.png);
}
.btn-primary-border:hover {
  color: #28b9e0;
  border-color: #1fb4dc;
}

.btn-back::before {
  content: "";
  display: inline-block;
  padding-left: 10px;
  width: 20px;
  height: 24px;
  background-position: center top 4px;
  background-repeat: no-repeat;
  background-size: 8px;
  vertical-align: top;
}
.btn-back::after {
  display: none;
}

.btn-remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-remove img {
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-left: 3px;
}

.btn-gray-add {
  padding: 8px 10px;
  text-align: left;
  color: #858796;
  background: #eaecf4;
  border: 0.5px dashed #959596;
  cursor: pointer;
  border-radius: 5px;
}
.btn-gray-add:hover {
  color: #858796;
  text-decoration: none !important;
}
.btn-gray-add img {
  display: inline-block;
  width: 16px;
  margin-top: -3px;
  margin-right: 5px;
}

.btn-text-icon {
  color: #5a5c69;
}
.btn-text-icon img {
  display: inline-block;
  width: 18px;
  margin-right: 5px;
  margin-top: -2px;
}
.btn-text-icon:hover {
  color: #5a5c69;
}

.input-search {
  position: relative;
}
.input-search input {
  padding-left: 40px;
}
.input-search::before {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/ico-magnifier.png);
  background-size: 18px;
  background-position: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 25px;
}

.textarea-form {
  height: 125px;
  resize: none;
  overflow-y: scroll;
}

.textarea-tab ul {
  padding-left: 0;
  margin: 0;
}
.textarea-tab ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
}
.textarea-tab ul li a {
  color: #b7b9cc !important;
}
.textarea-tab ul li.active {
  border-top: 2px solid #49c4e5;
  border-left: 0.5px solid #959596;
  border-bottom: 0.5px solid #fff;
  border-right: 0.5px solid #959596;
  padding-top: 8px;
}
.textarea-tab ul li.active a {
  color: #000 !important;
}
.textarea-tab .textarea-tab-description {
  border: 0.5px solid #959596;
  margin-top: -0.5px;
  height: 290px;
  border-radius: 0 0 5px 5px;
}

.tab {
  border-bottom: 1px solid #eaecf4;
}
.tab a.active {
  color: black !important;
  border-bottom: 1px solid #49c4e5;
  margin-bottom: -1px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b7b9cc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #49c4e5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #49c4e5;
}

input:checked + .slider:before {
  transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.slider.round:before {
  border-radius: 50%;
}

tr td {
  box-sizing: border-box !important;
}
tr td .row {
  margin-right: 0;
  margin-left: 0;
}
tr.status-understock td {
  background: #ffeff2;
}

.card-gray {
  background: #eaecf4;
  border: none;
}

.align-time span {
  display: inline-block;
}

.fixed-hiehgt-y {
  height: 300px;
  overflow-y: scroll;
}

.middle-divider {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.mx-07 {
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}

.w50-m {
  max-width: calc(50% - 0.75rem);
}/*# sourceMappingURL=modify.css.map */