$gary-input: #959596;

//--------------------------------------------------------------------標題區
//帶有icon的頁面標題
h1 {
  img {
    height: 30px;
    display: block;
    float: left;
    margin-right: 8px;
  }
}

//帶有減號 「-」的標題
.title-section {
  img {
    display: block;
    width: 22px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
  }
}

//帶有底線的標題
.title-form {
  border-bottom: 3px solid $blue;
  padding-left: 0;

  span {
    display: inline-block;
    background: $blue;
    color: $white;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
  }
}

//--------------------------------------------------------------------按鈕區

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

//帶有icon的按鈕
.btn-primary-icon {
  &::after {
    display: none;
  }

  img {
    width: 18px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
  }
}

//純文字按鈕
.btn-primary-text {
  &::after {
    display: none;
  }
}

//表格內的按鈕
.btn-table {
  display: inline-block;
  font-weight: 400;
  background: $white;
  color: $gray-800;
  border: 0.5px solid $gray-500;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: $gray-800;
    text-decoration: none;
  }
}

//上傳圖片按鈕
.btn-upload-pic {
  background: $white;
  color: $gray-800;
  border: 0.5px solid $gary-input;
  border-radius: 5px;
}

//藍色線框按鈕
.btn-primary-border {
  background: $white;
  border: 1px solid $blue;
  color: $blue;

  &::after {
    background-image: url(../../../img/arrow-b-r.png);
    content: "";
    display: inline-block;
    padding-left: 10px;
    width: 20px;
    height: 24px;
    background-position: center top 4px;
    background-repeat: no-repeat;
    background-size: 8px;
    vertical-align: top;
  }

  &.btn-back {
    &::before {
      background-image: url(../../../img/arrow-b-l.png);
    }
  }

  &:hover {
    color: #28b9e0;
    border-color: #1fb4dc;
  }
}

//返回按鈕
.btn-back {
  &::before {
    content: "";
    display: inline-block;
    padding-left: 10px;
    width: 20px;
    height: 24px;
    background-position: center top 4px;
    background-repeat: no-repeat;
    background-size: 8px;
    vertical-align: top;
  }

  &::after {
    display: none;
  }
}

//表格內移除「x」按鈕
.btn-remove {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  img {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 3px;
    margin-left: 3px;
  }
}

//灰色按鈕
.btn-gray-add {
  padding: 8px 10px;
  text-align: left;
  color: $gray-600;
  background: $gray-200;
  border: 0.5px dashed $gary-input;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    color: $gray-600;
    text-decoration: none !important;
  }

  img {
    display: inline-block;
    width: 16px;
    margin-top: -3px;
    margin-right: 5px;
  }
}

//純文字帶有icon
.btn-text-icon {
  img {
    display: inline-block;
    width: 18px;
    margin-right: 5px;
    margin-top: -2px;
  }

  color: $gray-800;

  &:hover {
    color: $gray-800;
  }
}

//--------------------------------------------------------------------輸入框 input, textarea
//有搜尋icon的 input
.input-search {
  position: relative;

  input {
    padding-left: 40px;
  }

  &::before {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/ico-magnifier.png);
    background-size: 18px;
    background-position: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 25px;
  }
}

// textarea
.textarea-form {
  height: 125px;
  resize: none;
  overflow-y: scroll;
}

//有頁籤跟編輯器的 textarea
.textarea-tab {
  ul {
    padding-left: 0;
    margin: 0;

    li {
      list-style: none;
      cursor: pointer;
      padding: 10px 20px;

      a {
        color: $gray-500 !important;
      }

      &.active {
        border-top: 2px solid $blue;
        border-left: 0.5px solid $gary-input;
        border-bottom: 0.5px solid $white;
        border-right: 0.5px solid $gary-input;
        padding-top: 8px;

        a {
          color: $black !important;
        }
      }
    }
  }

  .textarea-tab-description {
    border: 0.5px solid $gary-input;
    margin-top: -0.5px;
    height: 290px;
    border-radius: 0 0 5px 5px;
  }
}

//--------------------------------------------------------------------其他元件
//頁籤
.tab {
  border-bottom: 1px solid $gray-200;

  a {
    &.active {
      color: black !important;
      border-bottom: 1px solid $blue;
      margin-bottom: -1px;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: $blue;
}

input:focus+.slider {
  box-shadow: 0 0 1px $blue;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.slider.round:before {
  border-radius: 50%;
}

//--------------------------------------------------------------------表格樣式
tr {
  td {
    box-sizing: border-box !important;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  //表格顯示數量低於庫存的狀態樣式
  &.status-understock {
    td {
      background: #ffeff2;
    }
  }
}

//--------------------------------------------------------------------其他樣式
//卡片灰色背景
.card-gray {
  background: $gray-200;
  border: none;
}

.align-time {
  span {
    display: inline-block;
  }
}

.fixed-hiehgt-y {
  height: 300px;
  overflow-y: scroll;
}