@import "./variables";

.poR {
  position: relative;
}

.staff {
  img {
    width: 10px;
  }
}

.t-center {
  text-align: center;
}

.f_whiet {
  color: #ecf9fc;
}

.t_center {
  text-align: center;
}

table {
  width: 100%;
  line-height: 1.4;

  thead {
    tr {
      background-color: rgba(73, 196, 229, 0.3);
      border-radius: 5px;
      overflow: hidden;

      th,
      .th {
        padding: 6px 10px;
      }
    }
  }

  tbody {
    tr {
      td,
      .td {
        padding: 10px;
        border-bottom: solid 0.3px #aeaeae;
      }

      &:last-child {
        td,
        .td {
          border-bottom: solid 1px #49c4e5;
        }
      }
    }
  }

  &.height_fixed {
    td {
      min-height: 40px;
    }
  }

  .number {
    padding-top: 18px;
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 7px 10px;
  border: solid 0.5px #959596;
  display: inline-block;
  border-radius: 5px;
  appearance: none;

  &::placeholder {
    color: $gray-500;
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-bottom: 4px;

    &:checked {
      background-color: #49c4e5;
      border: solid 0.5px #49c4e5;
      background-image: url(../img/ico-check.png);
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:focus-visible {
    outline: none;
    border: solid 0.5px #49c4e5;
  }
}

.dataTable {
  tr {
    &.active {
      background-color: #f6f6f6;
    }
  }
}

select {
  background-position: right 10px center;
  background-image: url(../img/ico-arrow-02.png);
  background-size: 10px;
  background-repeat: no-repeat;

  &:disabled {
    opacity: 1;
    background-color: #fafafa;
    color: #555;
  }
}

.index {
  .card {
    background-color: #ecf9fc;
    border: none;
  }
}

.dash-between {
  position: relative;

  &::after {
    content: "-";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.price {
  &::before {
    content: "NT$ ";
  }
}

.fa {
  top: 15px;
  right: 30px;
}

.msg_item {
  cursor: pointer;

  &.active {
    background-color: $gray-200;
  }

  .latest_msg {
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.msg_detail {
  width: 100%;

  .dialog_area {
    max-height: 320px;
    overflow-y: scroll;
  }

  .texting_area {
    background-color: #fff;

    textarea {
      border: none;
      padding: 0;
      resize: none;
    }

    button {
      border: none;
      background-color: transparent;
      margin-right: 5px;
    }
  }
}

.no-border {
  tr {
    td {
      border-bottom: none !important;
    }
  }
}

.notify {
  background-color: #49c4e5;
  color: #fff !important;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  width: 20px;
  font-size: 12px !important;
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.lb {
  position: fixed;
  background-color: rgba(102, 102, 102, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;

  &.open {
    opacity: 1;
    z-index: 200;
  }

  .lb_content {
    border-radius: 22px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px 20px;

    @media screen and (max-width: 767px) {
      padding: 20px 15px 10px;
    }

    h4 {
      display: inline-block;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: solid 2px #47c3e4;

      @media screen and (max-width: 767px) {
        padding-bottom: 5px;
        margin-bottom: 20px;
      }
    }

    .d_flex {
      justify-content: space-between;

      .W50 {
        width: calc(50% - 3px);

        @media screen and (max-width: 767px) {
          width: calc(50% - 5px);

          &:not(button) {
            width: 100%;
          }
        }
      }
    }

    textarea {
      resize: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .online_service {
      position: fixed;
      right: 15px;
      bottom: 15px;
      border-radius: 15px;
      box-shadow: 0px 7px 14.7px 1.3px rgba(75, 143, 178, 0.35);
      width: 295px;
      border-radius: 15px;
      overflow: hidden;
      z-index: 300;

      .bg_blue {
        background-color: #47c3e4;
        padding: 20px;
        line-height: 1.5;
        text-align: center;

        .close {
          transform: scale(0.65);
          -webkit-transform: scale(0.65);
          -moz-transform: scale(0.65);
          -ms-transform: scale(0.65);
          -o-transform: scale(0.65);
          transform-origin: right top;

          span {
            background-color: #fff;
          }
        }
      }

      .conversation {
        background-color: #fff;
        padding: 15px 12px;
        display: inline-block;
        width: 100%;
        height: 370px;
        overflow-y: scroll;
        overflow-x: hidden;
        vertical-align: bottom;

        > div {
          margin-bottom: 17px;
          display: inline-block;
          line-height: 1.4;
          width: 100%;

          .bg {
            position: relative;
            padding: 6px 16px;
            display: inline-block;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            max-width: calc(100% - 75px);
          }

          &.service {
            .bg {
              background-color: #b0e5f4;
              float: right;
            }

            span {
              left: -5px;
              bottom: 0;
              transform: translate(-100%, 0) scale(0.7);
              -webkit-transform: translate(-100%, 0) scale(0.7);
              -moz-transform: translate(-100%, 0) scale(0.7);
              -ms-transform: translate(-100%, 0) scale(0.7);
              -o-transform: translate(-100%, 0) scale(0.7);
              transform-origin: right center;
            }
          }

          &.user {
            .bg {
              background-color: #eceded;
            }

            span {
              right: -5px;
              bottom: 0;
              transform: translate(100%, 0) scale(0.7);
              -webkit-transform: translate(100%, 0) scale(0.7);
              -moz-transform: translate(100%, 0) scale(0.7);
              -ms-transform: translate(100%, 0) scale(0.7);
              -o-transform: translate(100%, 0) scale(0.7);
              transform-origin: left center;
            }
          }

          p {
            color: #000;
            font-size: 14px;
            margin-bottom: 5px;
          }

          span {
            color: #999;
            position: absolute;
            max-width: 190px;
            font-size: 11px;
          }
        }
      }

      .text_area {
        border-top: solid 0.3px #959596;
        background-color: #fff;
        padding: 10px 16px;
        justify-content: space-between;
        align-items: center;

        .upload,
        .send {
          width: 18px;
          img {
            cursor: pointer;
          }
        }

        textarea {
          width: calc(100% - 50px);
          background-color: #fff;
          color: #000;
          resize: none;
          border-color: #eceded;
          margin-bottom: 0;
          border-radius: 15px;
          padding: 5px 16px;
          font-size: 14px;

          &.blank {
            background-color: #eceded;
            color: #737373;
          }
        }
      }
    }
  }

  &.service_lb {
    h4 {
    }
    .online_service {
      width: calc(100% - 40px);
      max-width: 630px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      bottom: 0;
      margin-bottom: 20px;
      > p {
        padding: 15px 20px;
        border-bottom: 1px solid #acacad;
      }
      #online_textarea {
        width: calc(100% - 30px);
      }
    }
  }

  .close {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    .hamburger {
      width: 25px;
      height: 1px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -12px;
      $hamburger-spacing: 8px;
      background: #959595;

      &.hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
      }

      &.hamburger-2 {
        transform: translate3d(0, 0, 0) scale(0.1, 1);
      }

      &.hamburger-3 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }
    }
  }
}
