.staff {
  img {
    width: 10px;
  }
}

.t-center {
  text-align: center;
}

.f_whiet {
  color: #ecf9fc;
}

table {
  width: 100%;
  line-height: 1.4;

  thead {
    tr {
      background-color: rgba(73, 196, 229, 0.3);
      border-radius: 5px;
      overflow: hidden;

      th,
      .th {
        padding: 6px 10px;
      }
    }
  }

  tbody {
    tr {

      td,
      .td {
        padding: 10px;
        border-bottom: solid 0.3px #959596;
      }

      &:last-child {

        td,
        .td {
          border-bottom: solid 1px #49c4e5;
        }
      }
    }
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 7px 10px;
  border: solid 0.5px #959596;
  display: inline-block;
  border-radius: 5px;
  appearance: none;

  &::placeholder {
    color: $gray-500;
  }

  &[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-bottom: 4px;

    &:checked {
      background-color: #49c4e5;
      border: solid 0.5px #49c4e5;
      background-image: url(../img/ico-check.png);
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:focus-visible {
    outline: none;
    border: solid 0.5px #49c4e5;
  }
}

.dataTable {
  tr {
    &.active {
      background-color: #f6f6f6;
    }
  }
}

select {
  background-position: right 10px center;
  background-image: url(../img/ico-arrow-02.png);
  background-size: 10px;
  background-repeat: no-repeat;

  &:disabled {
    opacity: 1;
    background-color: #fafafa;
    color: #555;
  }
}

.index {
  .card {
    background-color: #ecf9fc;
    border: none;
  }
}

.dash-between {
  position: relative;

  &::after {
    content: "-";
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.price {
  &::before {
    content: "NT$ ";
  }
}

.fa {
  top: 15px;
  right: 30px;
}

.msg_item {
  cursor: pointer;

  &.active {
    background-color: $gray-200;
  }

  .latest_msg {
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.msg_detail {
  width: 100%;

  .dialog_area {}

  .texting_area {
    background-color: #fff;

    textarea {
      border: none;
      padding: 0;
      resize: none;
    }

    button {
      border: none;
      background-color: transparent;
      margin-right: 5px;
    }
  }
}