<!-- Sidebar - Brand -->
<a class="sidebar-brand" href="index.html">
  <img src="../img/logo-white.png" alt="" width="100%" />
  <h4 class="d-block">後台管理系統</h4>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0" />

<!-- Nav Item - Dashboard -->
<li class="nav-item active" data-nav="index">
  <a class="nav-link" href="index.html">
    <img src="../img/ico-home.png" alt="" />
    <span>總覽</span></a
  >
</li>

<li class="nav-item" data-nav="booking">
  <a class="nav-link" href="booking_setting.html">
    <img src="../img/ico-booking.png" alt="" />
    <span>訂單管理</span></a
  >
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item" data-nav="product">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#product"
    aria-expanded="true"
    aria-controls="product"
  >
    <img src="../img/ico-product.png" alt="" />
    <span>商品管理</span>
  </a>
  <div
    id="product"
    class="collapse"
    aria-labelledby="headingPages"
    data-parent="#accordionSidebar"
  >
    <div class="py-2 ml-3 collapse-inner">
      <a class="collapse-item text-white" href="product_setting.html"
        >商品設定</a
      >
      <a class="collapse-item text-white" href="product_category.html"
        >分類設定</a
      >
    </div>
  </div>
</li>

<!-- Nav Item - Charts -->
<li class="nav-item" data-nav="member">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#member"
    aria-expanded="true"
    aria-controls="member"
  >
    <img src="../img/ico-member.png" alt="" />
    <span>會員管理</span></a
  >
  <div
    id="member"
    class="collapse"
    aria-labelledby="headingPages"
    data-parent="#accordionSidebar"
  >
    <div class="py-2 ml-3 collapse-inner">
      <a class="collapse-item text-white" href="member_list.html">會員列表</a>
      <a class="collapse-item text-white" href="member_grading.html"
        >會員分級</a
      >
    </div>
  </div>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item" data-nav="sale">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#sale"
    aria-expanded="true"
    aria-controls="sale"
  >
    <img src="../img/ico-sale.png" alt="" />
    <span>優惠設定</span></a
  >
  <div
    id="sale"
    class="collapse"
    aria-labelledby="headingPages"
    data-parent="#accordionSidebar"
  >
    <div class="py-2 ml-3 collapse-inner">
      <a class="collapse-item text-white" href="sale_over.html">滿額折扣設定</a>
      <a class="collapse-item text-white" href="sale_code.html">折扣碼設定</a>
      <a class="collapse-item text-white" href="sale_points.html"
        >消費集點設定</a
      >
    </div>
  </div>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item" data-nav="msg">
  <a
    class="nav-link collapsed"
    href="#"
    data-toggle="collapse"
    data-target="#msg"
    aria-expanded="true"
    aria-controls="msg"
  >
    <img src="../img/ico-msg.png" alt="" />
    <span>訊息中心</span></a
  >
  <div
    id="msg"
    class="collapse"
    aria-labelledby="headingPages"
    data-parent="#accordionSidebar"
  >
    <div class="py-2 ml-3 collapse-inner">
      <a class="collapse-item text-white" href="msg_booking.html">訂單訊息</a>
      <a class="collapse-item text-white" href="msg_line.html">LINE OA 訊息</a>
    </div>
  </div>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item" data-nav="staff">
  <a class="nav-link" href="staff_list.html">
    <img src="../img/ico-setting.png" alt="" />
    <span>管理者設定</span></a
  >
</li>
