<!-- Sidebar Toggle (Topbar) -->
<button
  id="sidebarToggleTop"
  class="btn btn-link d-md-none rounded-circle mr-3"
>
  <i class="fa fa-bars"></i>
</button>

<!-- Topbar Search -->
<!-- <form
  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control bg-light border-0 small"
      placeholder="Search for..."
      aria-label="Search"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div>
</form> -->

<!-- Topbar Navbar -->
<ul class="navbar-nav text-m text-gray-700">
  <li class="staff">
    <p class="btn-sm btn-primary pl-3 pr-3 mr-3">
      <img src="../img/ico-staff.png" alt="" class="mr-2" />Brad
    </p>
  </li>

  <li class="lang">
    <select name="" id="" class="text-gray-700">
      <option value="中文" checked>中文</option>
      <option value="English" checked>English</option>
    </select>
  </li>

  <li class="logout">
    <a
      class="text-gray-700 py-1 ml-4 d-inline-block"
      href="#"
      data-toggle="modal"
      data-target="#logoutModal"
    >
      登出
    </a>
  </li>
</ul>
